<footer>
  <p class="text-center mt-20">© 2023 DaveCodes.Tech</p>
</footer>

<script src="/public/js/workout.js"></script>
<script src="/node_modules/tw-elements/dist/js/index.min.js" type="text/js"></script>
</body>
</html>