<!DOCTYPE html>
<html lang="en">
  <head> 
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Workout Log</title>
    <link href="/public/css/style.css" rel="stylesheet">
    <link href="/dist/output.css" rel="stylesheet">
  </head>
  <body class="box-border h-screen w-screen flex flex-col place-content-between">
    <nav class="flex place-content-between">
      
      <a class="text-lg font-bold" href="/calendar"><h1>Workout Log</h1></a>

      <ul class="flex gap-6 list-none font-medium w-20">
        <li><a href="/calendar">Calendar</a></li> 
        <li><a href="/calendar/createWorkout">Add Workout</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>

    </nav>
  </body>
</html>