<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <h1>Workouts</h1>
    <ul>
    <% todos.forEach( el => { %>
            <li class='todoItem' data-id='<%=el._id%>'>
                <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                <span class='del'> Delete </span>
            </li>
    <% }) %>    
    </ul>

    <h2><%= user.userName %></h2>
    
    <div class="container">
        <button class="addworkout button-47">Choose Muscle Group</button>
        <select name="search" id="searchScroll" size="1"></select>
        <!-- <input id="searchbar" type="text" name="search" placeholder="Search for a Workout"> -->
        <div id="loading"></div>
        <!-- <div class="searchfield"> -->
            <select id="output" size="1"></select>
            <p class="description"></p>
            <!-- <input type="date" name="workout-date" class="workoutDate"> -->
        <!-- </div> -->
        <button class='console' type="submit" action="createTodo">Console</button>
    </div>

    <form action="/calendar/createTodo" method='POST'>

        <!-- Date of Workout -->

        <input type="text" placeholder="Enter Todo Item" name='todoItem'>
        
        <div class="workout"></div>

    </form>

    <a href="/logout">Logout</a>

    <script src="../public/js/main.js"></script>
    <script src="../public/js/workout.js"></script>
</body>
</html>

   
