<%- include('partials/header.ejs') -%>

<main class="flex flex-col justify-items-center items-center">
    <img src="/public/img/working-out.svg" alt="fitness" class="workout-img">
    <h3 class="m-3 text-center">You don't have to be extreme. Just consistent.</h3>
    <a href="/login"><button class="btn btn-lg btn-primary m-2">Log In</button></a>
    <a href="/signup"><button class="btn btn-lg btn-primary mb-3">Sign Up</button></a>
</main>

<footer>
    <p class="m-3 text-center">© 2023 DaveCodes.Tech</p>
  </footer>