<%- include('partials/header.ejs') -%>

<main class="container d-flex flex-column align-items-center bg-purple-500 text-dark login">
    <h1>Workout Tracker</h1>
    <h3 class="slogan">You don't have to be extreme. Just consistent.</h3>
    <a href="/login"><button class="btn btn-lg btn-primary">Log In</button></a>
    <a href="/signup"><button class="btn btn-lg btn-primary">Sign Up</button></a>
</main>

<%- include('partials/footer.ejs') -%>