<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Workout Log</title>
    <link href="/public/css/styles.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.4/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body data-theme="dracula" id="wholeBody" class="box-border h-screen flex flex-col place-content-between">

    <div class="flex flex-col justify-items-center items-center mt-36">
        <h1 class="mt-3">Log In</h1>
        <img src="/public/img/log-in.svg" alt="fitness" class="workout-img m-3">

        <form action="/login" method="POST" class="flex flex-col m-4">
            <input class="m-2" type="email" name="email" placeholder="Email">
                <% if (locals.messages.errors) { %>
                    <% messages.errors.forEach( el => { %>
                        <div class="alert alert-danger"><%= el.msg %></div>
                    <% }) %>    
                <% } %>
            <input class="m-2" type="password" name="password" placeholder="Password">
                <% if (locals.messages.info) { %>
                    <% messages.info.forEach( el => { %>
                        <div class="alert alert-danger"><%= el.msg %></div>
                    <% }) %>    
                <% } %>
            <input type="submit" class="btn btn-lg m-6">
        </form>
    </div>

<footer>
    <p class="m-3 text-center">© 2023 DaveCodes.Tech</p>
</footer>

</body>
</html>