<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SweatMate</title>
    <link href="/public/css/style.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.4/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-[url('../public/img/background.jpg')] bg-no-repeat bg-cover bg-center bg-fixed box-border h-screen flex flex-col place-items-center place-content-between">

    <h1><a class="text-lg font-bold" href="/home">SweatMate</a></h1>

    <div class="flex justify-items-center items-center">
        <img src="/public/img/log-in.svg" alt="fitness" class="workout-img m-3 h-60">
        
        <div class="flex flex-col items-center bg-white ml-14 p-5 w-70 rounded-lg shadow hover:shadow-lg">
            <h1 class="text-4xl text-black text-center">Log In</h1>
            <form action="/login" method="POST" class="flex flex-col m-4">
                <label class="input-group input-group-vertical bg-slate-300 rounded-lg mt-4">
                  <span class="">Email</span>
                  <input type="email" name="email" placeholder="info@site.com" class="form-input text-md p-2" />
                  <% if (locals.messages.errors) { %>
                    <% messages.errors.forEach( el => { %>
                        <div class="alert alert-danger"><%= el.msg %></div>
                        <% }) %>    
                        <% } %>
                </label>
                <label class="input-group input-group-vertical bg-slate-300 rounded-lg mt-4">
                    <span class="">Password</span>
                    <input type="password" name="password" placeholder="Password" class="form-input text-md p-2" />
                <% if (locals.messages.info) { %>
                    <% messages.info.forEach( el => { %>
                        <div class="alert alert-danger"><%= el.msg %></div>
                    <% }) %>    
                <% } %>
                </label>
                <input type="submit" class="btn btn-pink-400 mt-6">
            </form>
        </div>
    </div>

    <footer>
        <a href="https://www.DaveCodes.Tech"><p class="text-center text-white">©2023 DaveCodes.Tech</p></a>
    </footer>

</body>
</html>