<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Workout Log</title>
    <link href="/public/css/styles.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.4/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body data-theme="synthwave" id="wholeBody" class="box-border h-screen flex flex-col place-content-between justify-items-center items-center">

    <h1><a class="text-lg font-bold" href="/calendar">Workout Log</a></h1>

    <div class="flex flex-col items-center">
        <h1 class="mt-3">Log In</h1>
        <img src="/public/img/log-in.svg" alt="fitness" class="workout-img m-3 h-80">

        <form action="/login" method="POST" class="flex flex-col m-4">
            <label class="input-group input-group-vertical m-2">
              <span class="">Email</span>
              <input type="text" name="email" placeholder="info@site.com" class="input input-bordered" />
              <% if (locals.messages.errors) { %>
                <% messages.errors.forEach( el => { %>
                    <div class="alert alert-danger"><%= el.msg %></div>
                    <% }) %>    
                    <% } %>
            </label>
            <label class="input-group input-group-vertical m-2">
                <span class="">Email</span>
                <input type="text" name="password" placeholder="Password" class="input input-bordered" />
            <% if (locals.messages.info) { %>
                <% messages.info.forEach( el => { %>
                    <div class="alert alert-danger"><%= el.msg %></div>
                <% }) %>    
            <% } %>
            </label>
            <input type="submit" class="btn btn-lg m-6">
        </form>
    </div>

    <footer>
        <p class="m-3 text-center">© 2023 DaveCodes.Tech</p>
    </footer>

</body>
</html>