* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body {
    background-image: url("/public/img/gabriel-alenius-tJ0V_BdCi9I-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
} */

.workout-img {
    width: 50%;
    /* height: 100%; */
    /* object-fit: cover; */
    /* object-position: center; */
}